.axisX {
	font-size: 20px;
}

.axisY {
	font-size: 20px;
}

.barF17 {
	fill: steelblue;
}

.barS18 {
	fill: #dd1c77;
}

.legendSpr18 {
	position: absolute;
	top: 680px;
}

.slider {
	position: absolute;
	top: 1325px;
	left: 900px;
}

.legendHistogram {
	position: absolute;
	top: 1450px;
}

.barF17Histogram {
	fill: steelblue;
}

.barS18Histogram {
	fill: #dd1c77;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}